.search-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 588px;
    width: 40%;
}

.search-form {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.search-error {
    margin-top: 104px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.movies-list {
    box-sizing: border-box;
    margin-top: 80px;
    max-width: 1440px;
    display: flex;
    gap: 16px 24px;
    flex-wrap: wrap;
    justify-content: space-between;
  }