:root {
  font-family: "Poppins", sans-serif;
  --text-color-secondary: #8E95A9;
  --text-color-primary: #EBEEF5;
  --link-color-primary: #A8AEBF;
  --white-color: #FFFFFF;
  --bg-color-button: #7B6EF6;
  --bg-color-button-hover: #6559d0;
  --bg-color: #121829;
  --bg-input: #0000001A; 
  --border-color: #323B54;
  --border-color-focus: #9fa5b7;
}

p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  justify-content: center;
  padding: 0 120px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121829;
}
